.fp {
  .fpItems {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;

    .fpItem {
      width: 100%;
      flex: 1; //or Width 100%
      gap: 10px;
      display: flex;
      flex-direction: column;

      .fpName {
        font-weight: bold;
      }

      .fpCity {
        font-weight: 300;
      }

      .fpPrice {
        font-weight: 500;
      }

      .fpRatings > button {
        background-color: #005cdc;
        color: white;
        border: none;
        padding: 3px;
        margin-right: 10px;
        font-weight: bold;
      }

      .fpRatings > span {
        font-size: 14px;
      }

      .fpImg {
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
